<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Expense Tracker - Forgot Password</title>
</head>
<body style="background-image: url('login.jpg'); " >
    <div class="center">
        <h1>E-TRACKER</h1>
        <h3>FORGOT-PASSWORD</h3>
    <form onsubmit="forgotpassword(event)" class="sign-in-form">
        <div class="txt_field">
        <input type="email" name="email" required>
        <span></span>
        <label for="email">Email : </label>
        </div>
        <button type="submit" class="lobtn"> Send Mail</button>
    </form>
    <div class="signup_link">
    <button class="fobtn"><a href='login.html'>Back</a></button></div>
    
</div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      async  function forgotpassword(e) {
    e.preventDefault();
    console.log(e.target.name);
    const form = new FormData(e.target);

    const userDetails = {
        email: form.get("email"),

    }
    console.log(userDetails)
  await  axios.post('http://3.89.180.117:4000/password/forgotpassword',userDetails).then(response => {
        if(response.status === 202){
            document.body.innerHTML += '<div style="color:red;">Mail Successfuly sent <div>'
        } else {
            throw new Error('Something went wrong!!!')
        }
    }).catch(err => {
        document.body.innerHTML += `<div style="color:red;">${err} <div>`;
    })
}
    </script>

</body>
</html>