<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
</head>
<body>
    <form onsubmit="addNewExpense(event)">
    <label for ="expenseamount"> Choose expenseamount :</label>
    <input type = "number" name="expenseamount" required>
    <label for="description"> Choose description :</label>
    <input type="text" name="description" required>
    <label for="category">Choose a category :</label>
    <select id="category" name="category">
        <option value="fuel">Fuel</option>
        <option value="food">Food</option>
        <option value="electricity">Electricity</option>
        <option value="movie">Movie</option>
    </select>
    <button>Add Expense</button>
    </form>
    <div id="message"></div>
    <button id="rzp-button1">Buy Premium</button>
    <button onclick="download()" id="downloadexpense">Download File</button>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <ul id="listOfExpenses"></ul>
    <ul id="leaderboard"></ul>
    
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./expensetracker.js"></script>
</body>
</html>