.grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.download{
    display: none;
}
.width{
    width: 15%;
}


.widths{
    width:100%;
}

.dark-mode {
    background-color: black;
    color: white;
  }
  
  body {
    background-color: white;
    color: black;
    font-size: 25px;
    font-family: 'Poppins';font-size: 15px;
  }
  *{
    font-family: 'Poppins';font-size: 15px;
  }