<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <title>Expense Tracker</title>
</head>
<body>
    <div style="height: 1rem;"
    class="nav d-flex justify-content-end  border-secondary bg-warning text-white premium align-items-center">
        </div>
     <div class="container-fluid grid">
     <div class="container vh-100 p-5 border-end border-2 border-dark">
        <h2 class="text-center  mt-3 fw-bold">E-TRACKER</h2>
        <div  class=" border-bottom border-secondary  bg-primary text-white ms-0">
        </div>
        <form onsubmit="addNewExpense(event)" class=" form-label ">
            <div class="amount p-2">
                <label for ="expenseamount"></label>
        <input type = "number" class="form-control" name="expenseamount" placeholder="Your Expense amount here" required>
        
            </div>
            <div class="p-2">
                <label for="description"></label>
        <input type="text" class="form-control" name="description" placeholder="Your Description here" required>
            </div>
            <div class="p-2">
        <label for="category" class="form-label"></label>
        <select id="category" name="category" class="form-control">
            <option value="Your Category here">-- Your Category here --</option>
        <option value="fuel">Fuel</option>
        <option value="food">Food</option>
        <option value="electricity">Electricity</option>
        <option value="movie">Movie</option>
        <option value ="income">Income</option>
        </select>
        <div class="income p-2">
            <label for ="income"></label>
    <input type = "number" class="form-control" name="income" placeholder="Your Income amount here" required>
    
        </div>
        </div>
        <br>
        <div class="row-cols-xl-1 text-center">
        <button class=" btn btn-success " >Add Expense</button>
        <br>
        <br>
        <div  class=" border-bottom border-secondary  bg-primary text-white ms-0">
        </div>
        <br>
        <ul id="leaderboard"></ul>

        </form>
        <div id="message"></div>
    </div>

    <button id="rzp-button1" class="btn btn-primary widths">Buy Premium</button>
    <br>
    <br>
    <button onclick="myFunction()" class="btn btn-dark widths">Toggle dark mode</button>

    <br>
    <br>

    <button onclick="logouts()" class="btn btn-danger widths ">Log out</button>
        
    
</div>
    

            <div class=" container pt-5 vh-100  flex-column align-items-center ">
                
    <ul id="listOfExpenses">
        <div class="w-100 h-100 pt-3"><h2 class="text-center fw-bold">EXPENSES</h2>
            <div  class=" border-bottom border-secondary  bg-primary text-white ms-0">
            </div>
            <br>
        <table class="table text-center table-hover">
            <thead class="bg-dark">
            <tr>
                <th scope="col" class="text-white">S/N.</th>
                <th scope="col" class="text-white">Amount</th>
                <th scope="col" class="text-white">Category</th>
                <th scope="col" class="text-white">Description</th>
                <th scope="col" class="text-white">Income</th>
                <th scope="col" class="text-white">Action</th>
            </tr>
            </thead>
            <tbody class="tbody">

            </tbody>
        </table>
    </ul> 
    
    <div class="d-flex justify-content-end ">
        <div class="rowSelection w-25">
            <label for="rowOptions">Row Size :</label>
            <select name="rowOptions" id="rowOptions" class="w-50" onchange="setRow()">
                <option value="0">--Select Row Size--</option>
                <option value="5">5</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
            </select>
        </div>
        <script>
            
        </script>
    </div>

    <div class=" d-flex justify-content-center text-center">
            <ul class="paginations" id="paginations">
            <div class="fe"></div>
    </ul>

    </div>
    </div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        </div>
    </div>
    <div style="height: 1rem;" class=" border-bottom border-secondary  bg-dark text-white ms">
        
    </div>
    <script>
        function logouts(){
             localStorage.removeItem('token')
            alert('Logged out')
            window.location.href="/views/login.html"
        }
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark-mode");
}

    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="expensetracker.js"></script>
</body>
</html>