<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Expense Tracker - Login</title>
</head>
<body style="background-image: url('login.jpg');
background-attachment: fixed;
background-position: center;">
        <div class="center">
            <h1>E-TRACKER</h1>
            <h3>LOGIN</h3>
    <form onsubmit="login(event)" class="sign-in-form">
        <div class="txt_field">
        <input type="email" name="email"  required>
        <span></span>
        <label for="email">Email</label>
        </div>
        <div class="txt_field">
        <input type="password" name="password" required>
        <span></span>
        <label for="password">Password</label>
    </div>
        <button class="lobtn">Login</button>
    </form>
<div class="signup_link">
    <button class="fobtn"> <a href='forgot.html'>Forgot password</a></button>
</div>
 <div class="signup_link">   
    <p>New User? <a href="signup.html">Sign up</a></p>
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src ="expensetracker.js"></script>
    
</body>

</html>