<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker - Login</title>
</head>
<body>
    <form onsubmit="login(event)" >
        <label for="email">Email</label>
        <input type="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <button >Login</button>
    </form>
    <button onclick="forgotpassword()"> Forgot password</button>
    <p>New User?<a href="signup.html">Sign up</a></p>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src ="./expensetracker.js"></script>
</body>

</html>