<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/report.css">
    <title>E-Tracker Report</title>
</head>
<body>
    <h1 style="text-align: center;">E-Tracker</h1>
    <div class="display-time"></div>    
    <p id="date" class="date"></p>  
        <table class="center">
            <thead>
            <tr>
                <th >Date</th>
                <th >Description</th>
                <th >Category</th>
                <th >Income</th>
                <th >Expense</th>
            </tr>
            </thead>
            <tbody>
                <td>Sample data</td>
                <td>Sample data</td>
                <td>Sample data</td>
                <td>Sample data</td>
                <td>Sample data</td>
            </tbody>
        </table>
        <h4>Yearly Report</h4> 
        <table class="center">
            <thead>
            <tr>
                <th >Month</th>
                <th >Income</th>
                <th >Expense</th>
                <th >Savings</th>
            </tr>
            </thead>
            <tbody>
                <td>Sample data</td>
                <td>Sample data</td>
                <td>Sample data</td>
                <td>Sample data</td>
            </tbody>
        </table>
       <h4 id="dates" class="date"></h4>
       <table class="center">
        <thead>
        <tr>
            <th >Date</th>
             <th >Notes</th>
        </tr>
        </thead>
        <tbody>
            <td>Sample data</td>
            <td>Sample data</td>
        </tbody>
    </table>
    <div class="container">
        <div class="centers">
    <button class="button button2">Download</button>
            </div></div>
   
<script>
const displayTime = document.querySelector(".display-time");
function showTime() {
  let time = new Date();
  displayTime.innerText = time.toLocaleTimeString("en-US", { hour12: false });
  setTimeout(showTime, 1000);
}
function showDate() {
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];;
    var date = new Date();
    document.getElementById('date').innerHTML = months[date.getMonth()] + ' ' + date.getFullYear();
    document.getElementById('dates').innerHTML ='Notes Report' + ' '+ date.getFullYear();

};
showTime();
showDate();
</script>
</body>
</html>