@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
  
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 0px;
  padding-top: 25px;
  cursor: no-drop;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 18px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #000000;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .2s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .2s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
.lobtn{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.fobtn{
    width: 50%;
    height: 25px;
    border:none;
    margin-left: 95px;
    margin-top: 25px;
    padding-bottom: 28px;
    background:none;
    border-radius: 25px;
    font-size: 18px;
    color: #666666;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}
.fobtn:hover{
    color: #000;
 transition: .5s;
}
.lobtn:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}

.center h3{
    text-align: center;
    border-bottom: 1px solid silver;
    color: #8f8e8e;
    padding-bottom: 25px;
    cursor: no-drop;

}

.delbtn{
        margin-top: 1%;
        width: 10%;
        height: 25px;
        border:solid red;
        padding-bottom: 28px;
        background:red;
        border-radius: 25px;
        font-size: 18px;
        color: #ffffff;
        font-weight: 400;
        cursor: pointer;
        margin-bottom: 1%;
        margin-left: 2%;
}
.delbtn:hover{
    color: #000;
 transition: .5s;
}

.centers{
    position:relative;
    margin-top: 0.5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    padding-bottom: 1%;
    padding-top: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 25px;
}

.centers h1{
    text-align: start;
    padding: 0px;
    padding-top: 2px;
    cursor: no-drop;
    margin-left: 0%;
    color: rgb(0, 38, 30);
    
  }
  .centers form{
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(0, 0, 0);

  }

  .centers h3{
    text-align: start;
    border-bottom: 0px solid rgb(0, 0, 0);
    color: #000000;
    padding-bottom: 0px;
    cursor: no-drop;
    font-size: 15px;
    
}


.lobtns{
    
    width: 10%;
    height: 25px;
    border:solid green;
    padding-bottom: 28px;
    background:green;
    border-radius: 25px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    cursor: pointer;
    margin-left: 45%;
    margin-bottom: 1%;
    
}

.lobtn1{
    
    width: 15%;
    height: 25px;
    border:solid white;
    padding-bottom: 28px;
    background:white;
    border-radius: 25px;
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    cursor: pointer;
    margin-left: 85%;
    margin-top: 0%;
}

.lobtn2{
    width: 10%;
    height: 25px;
    border:solid white;
    padding-bottom: 28px;
    background:white;
    border-radius: 25px;
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    cursor: pointer;
    margin-left: 86.5%;
}

.lobtn1:hover{
    color: #004fd8;
 transition: .5s;
}

.lobtn2:hover{
    color: #00b153;
 transition: .5s;
}

.signups_link{
    margin: 0px 0;
    text-align: start;
    font-size: 16px;
    color: #000000;
    border-bottom: 1px solid rgb(0, 0, 0);
  }

  .signups_link h2{
    font-size:xx-large;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 2%;
    margin-left: 0%;
  }

  .lobtn4{
    width: 15%;
    height: 25px;
    border:solid white;
    padding-bottom: 28px;
    background:white;
    border-radius: 25px;
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    cursor: pointer;
    margin-left: 83.8%;
    margin-top: 0%;
}
.lobtn4:hover{
    color: #00b153;
 transition: .5s;
}
.centers h4{
    font-size: 30px;
    color: #000000;
    text-align:start;
    margin-left: 1%;
    margin-top: 1%;
}

.centers h6{
    font-size: 15px;
    color: #000000;
    text-align: start;
    margin-left: 1%;
}

.centers1{
    position:relative;
    margin-left: 2%;
    margin-right: 2%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    padding: 2% 2% 2% 2%;
    margin-top: 0%;
    margin-bottom: 0.5%;
}

.centers1 h1{
    text-align: start;
    padding: 0px;
    padding-top: 25px;
    cursor: no-drop;
    margin-left: 0%;
    padding-bottom: 20px;
   
  }
  .centers1 form{
    padding: 0 40px;
    box-sizing: border-box;
    border-bottom: 1px solid silver;

  }

  .centers1 h3{
    text-align: start;
    border-bottom: 1px solid silver;
    color: #8f8e8e;
    padding-bottom: 25px;
    cursor: no-drop;
    

}

.logout{
    margin-top: 1%;
    width: 10%;
    height: 25px;
    border:solid red;
    padding-bottom: 28px;
    background:red;
    border-radius: 25px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 1%;
    margin-left: 45.5%;
}

.welcome{
    font-family: "Poppins", sans-serif;

}

.heading h1{
    font-size:xx-large;
    color: #000;
    text-align: start;
    border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 1%;
    padding-top: 1%;
}

.centers h2{
    text-align: start;
    border-bottom: 1px solid silver;
    padding-bottom: 2%;

}

.centers2{
    position:relative;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    padding: 2% 2% 2% 2%;
    font-size: 25px;
    text-align: center;
    color: black;
}
.dropdown{
  text-align: left;
  font-size: 18px;
}
.premium{
  width: 16px;
  height: 16px;
  padding-top: 2px;
}

.sign-in-form{
  margin-bottom: 1%;
  padding-bottom: 0%;
  padding-top: 0%;
  margin-top: 0%;
}

.user{
  margin: 0px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}